<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/layout.css">
</head>

<body>
    <div id="page-content">
        <header>
            <nav class="main-nav nav-right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/catalog">Catalog</a></li>
                    <li><a href="/create">Create</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            Emil Koulinski &copy; 2022
        </footer>
    </div>
</body>

</html>