<section id="create-section" class="">
    <h1 class="item">Register</h1>

    <div class="padded">
        <main class="item padded align-centre">
            <form action="/auth/register" method="post" class="layout left large">
                {{#if error}}
                <div class="error-box">
                    {{#each error}}
                    <p>{{this}}</p>
                    {{/each}}
                </div>
                {{/if}}
                <div class="aligned">
                    <label><span>Username: </span><input type="text" name="username"></label>
                    <label><span>Password: </span><input type="password" name="password"></label>
                    <label><span>Repeat Password: </span><input type="password" name="repass"></label>
                </div>

                <input class="cta action" type="submit" value="Register">

            </form>

        </main>

        <footer>
            Have an account already  <a href="/auth/login">Login</a>
        </footer>
    </div>
</section>